@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {

    font-family: "Press Start 2P", system-ui;
}

p {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

body {
    text-align: center;
    background-color: #fff5e1;
    padding: 20px;
}

.status-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    float: inline-start;
    width: 450px;
    gap: 15px;
    justify-content: center;
}

.cell {
    width: 80px;
    height: 80px;
    background-image: url(/assets/box1-removebg-preview.png);
    background-size: 125%;
    background-repeat: no-repeat;
    /* background-color: #f0e5d8;
    border: 2px solid #ccc;
    border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffa500;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    align-items: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff8c00;
}

.level-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.level-btn {
    padding: 13px 17px;
    background-color: #20a39e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    transition: background-color 0.3s;
}

.level-btn:hover {
    background-color: #17817d;
}

.message {
    font-size: 15px;
    font-weight: bold;
    color: #4b4b4b;
    margin-bottom: 15px;
}

.cat {
    background-image: url('/assets/cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dog {
    background-image: url('/assets/dog.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.freez-cursor {
    cursor: none;
}