@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend:wght@100..900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {font-family: "Press Start 2P", system-ui;}

p {
    font-size: 25px;
    font-weight: bold;
    color: rgb(173, 171, 171);
    margin-bottom: 20px;
}

body {
    text-align: center;
    background-color: #0a0710;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#background-img-game {
    background-image: url('/assets/background0.png');
    padding: 10px;
    width: 680px;
    margin: auto;
    border: 3px solid rgb(173, 171, 171);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 50px;

}

#home-title {
    margin-top: 150px;
    text-align: center;
    font-size: 49px;
}

#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-page-bg {
    background-image: url(/assets/background-main.png);
    padding: 10px;
    width: 670px;
    margin: auto;
    border: 3px solid rgb(173, 171, 171);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 50px;
}

#home-page-elms {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.status-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(173, 171, 171);
}

.time-red {
    color: red;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    float: inline-start;
    width: 600px;
    gap: 1px;
    justify-content: center;
}

.cell {
    width: 110px;
    height: 110px;
    background-size: 125%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #2d3f7b;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    align-items: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #213167;
}

.level-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

.level-btn {
    padding: 15px 23px;
    margin-top: 30px;
    background-color: #2d3f7b;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    transition: background-color 0.3s;
}

.level-btn:hover {
    background-color: #213167;
}

.message {
    font-size: 16px;
    font-weight: bold;
    color: rgb(216, 213, 213);
    margin-bottom: 15px;
}

#win-msg, #lose-msg {
    position: absolute;
    margin-top: 90px;
    margin-top: 50px;
    margin-left: 180px;
    width: 300px;
    padding: 25px 15px;
    background-color: #102449;;
    color:  #b3d9ff;
    border: 3px solid #123157;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 13px rgba(255, 255, 255, 0.4);
}

.cat {
    background-image: url('/assets/catSpace.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.dog {
    background-image: url('/assets/dogSpace.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.freez-cursor {
    cursor: none;
}

.play-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.how-to-btn {
    font-weight: bold;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    background-color: #2d3f7b;
    border: none;
    color: white;
    font-size: 15px;
    transition: background-color 0.3s;
}

.how-to-btn:hover {
    background-color: #213167;
}

.how-to-play-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff5e1;
    border: 2px solid #1f3e5a;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 15px #30475b;
}

.how-to-play-content ul {
    padding-left: 20px;
    text-align: left;
    margin: 10px 0;
    line-height: 1.5;
}

.close-btn {
    margin-top: 10px;
    background-color: #1f3e5a;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-btn:hover {
    background-color: #172e43;
}

#hits-num {
    color: #4c6277;
}

.hidden {
    display: none;
}

@keyframes redBorderFlash {
    0% {box-shadow: 0 0 0px 0px rgba(255, 0, 0, 0);}
    20% {box-shadow: 0 0 25px 5px rgba(255, 0, 0, 0.8);}
    80% {box-shadow: 0 0 25px 5px rgba(255, 0, 0, 0.8);}
    100% {box-shadow: 0 0 0px 0px rgba(255, 0, 0, 0);}
}

#background-img-game.red-flash {
    animation: redBorderFlash 0.5s ease;
}